/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-family: monospace, arial;
 }
 * {
    box-sizing: inherit;
    font-family: inherit;
  }
  svg {
    width: 100%;
    margin-bottom: 0%;    
  }
  /*--------------------------------------------------------------
  # General Elements
  --------------------------------------------------------------*/

.photobox {
  border-style: solid;
  border-width: 8px;
  border-color: #6c6d75;
  border-radius: 25px;
  color: black;
  text-align: center;
  background-color: #6c6d75;
  height: 400px;
  margin: auto;
  margin-top: 1em;
  position: relative;
  width: 500px;
  overflow: hidden;
  
}

.photobox.second {
  width: 300px;
  margin-left: -10px;
}

.photobox img {
  height: 100%;
  width: auto;
}

.photobox.second.SP img {
  height: 100%;
  width: auto;
  margin-left: -65px;
}

  .videobox {
    border-style: solid;
    border-width: 8px;
    border-color: #0f0f0f;
    border-radius: 25px;
    color: black;
    text-align: center;
    background-color: #6c6d75;
    height: 400px;
    margin: auto;
    margin-top: -100px;
    position: relative;
    width: 600px;
  }

  div.curved {
    background-color: #393944;
    margin-bottom: -5px;
    background: linear-gradient(0deg, rgba(57,57,68,1) 1%, rgba(59,59,71,1) 25%, rgba(80,80,96,1) 100%);
  }

  body{
    background-color: #0f0f0f;
    margin: 0;
  }
  
  .striped {
    border-right: 20px solid #a53400;
    width: 60px;
    border-left: 20px solid #8f0000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 30px;
    z-index: -2;
  }

  .striped.second {
    border-left: 20px solid #a53400;
    border-right: 20px solid #8f0000;
    left: unset;
    right: 30px;
  }

  /*--------------------------------------------------------------
  # Navigation
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Header Area
  --------------------------------------------------------------*/
  header {
    display: grid;
    grid-template-columns: 200px auto;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 75%;
  }
  header > a img {
    display:block;
  }
  header nav {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  header nav a.top_buttons {
    text-decoration: none;
    color: #d0d3d6;
    height: 50px;
    line-height: 50px;
    background-color:#505060;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.3em;
    white-space: nowrap;
    font-family: 'Orbitron', monospace, ariel;
    font-weight: 700;
  }
  header nav a.top_buttons:visited {
    color: #d9dce0;
  }
  header nav a.top_buttons:hover {
    color: white;
    background-color:#6b6b80;
  }
  header nav a.top_buttons:active {
    color: white;
    background-color: #31313b;
  }
  /*--------------------------------------------------------------
  # Content Area
  --------------------------------------------------------------*/
  
  video {
    margin: auto;
    position: relative;
    margin-top: 24px;
    color: rgb(240, 240, 240);
  }

  p {
    color: #d9dce0;
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 45%;
  }

  ul {
    color: #d9dce0;
    font-size: 20px;
    margin: auto 9%;
    text-align: center;
    width: 80%;
    white-space: nowrap;
    list-style-position: inside;
  }

  h1.title {
    padding-top: 45px;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    color: rgb(240, 240, 240);
    font-size: 100px;
    font-family: 'Orbitron', monospace, ariel;
    font-weight: 900;
  }
  
  h2 {
    color: #d9dce0;
    font-size: 30px;
    margin: auto;
    text-align: center;
    width: 45%;
    font-family: 'Orbitron', monospace, ariel;
    font-weight: 700;
  }

  /*--------------------------------------------------------------
  # Footer Area
  --------------------------------------------------------------*/
  
footer {
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

  /*--------------------------------------------------------------
  # Reusable Classes
  --------------------------------------------------------------*/
  
  img.imglogo {
    color: #d9dce0;
    margin: auto;
    position: relative;
    height: 50px;
    width: auto;
    padding: 0 0;

  }
  
  img.imgblack {
    color: rgb(240, 240, 240);
    margin: auto;
    position: relative;
    margin-top: 160px;
  }

  img.imglogo:hover {
    filter:brightness(140%);
  }
  
  img.imglogo:active {
    filter:contrast(150%);
  }
  /*--------------------------------------------------------------
  # Other
  --------------------------------------------------------------*/

  
  /*--------------------------------------------------------------
  # Templates
  --------------------------------------------------------------*/
  
  
  /*--------------------------------------------------------------
  # Media Queries
  --------------------------------------------------------------*/

/* for-phone-only */
@media only screen and (max-width: 599px) {
	 p {
    font-size: 35px;
    width: 80%;
  }
}
/* for-tablet-portrait-up */
@media only screen and (min-width: 600px) {
		 p {
    font-size: 30px;
    width: 70%;
  }
}
/* for-tablet-portrait-only */
@media only screen and (min-width: 600px) and (max-width: 899px) {
		 p {
    font-size: 30px;
    width: 70%;
  }
}
/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) {
		 p {
    font-size: 35px;
    width: 60%;
  }
}
/* for-tablet-landscape-only */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
		 p {
    font-size: 35px;
    width: 60%;
  }
}
/* for-desktop-up */
@media only screen and (min-width: 1200px) {
		 p {
    font-size: 30px;
    width: 60%;
  }
}
/* for-desktop-only */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
	
}
/* for-big-desktop-up */
@media only screen and (min-width: 1800px) {
		 p {
    font-size: 30px;
    width: 60%;
  }
}
